@font-face {
  font-family: "JXZK";
  /*font-family: "JXZK";*/
  src: url('./JiangXiZhuoKai-s.ttf');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {*/
/*  font-family: "ALI";*/
/*  !*font-weight: 700;*!*/
/*  !*src: url("//at.alicdn.com/wf/webfont/LA6S0akyo7md/lrevqC36RcKQnC8A2Bk4m.woff2") format("woff2");*!*/
/*  src: url("//at.alicdn.com/wf/webfont/LA6S0akyo7md/6JSR5NOS9rrg3M51Y4rWv.woff") format("woff");*/
/*  !*url("//at.alicdn.com/wf/webfont/LA6S0akyo7md/6JSR5NOS9rrg3M51Y4rWv.woff") format("woff");*!*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Noto Sans SC';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kXo84MPvpLmixcA63oeALhLOCT-xWNm8Hqd37g1OkDRZe7lR4sg1IzSy-MNbE9VH8V.4.woff2) format('woff2');*/
/*  !*unicode-range: U+1f1e9-1f1f5, U+1f1f7-1f1ff, U+1f21a, U+1f232, U+1f234-1f237, U+1f250-1f251, U+1f300, U+1f302-1f308, U+1f30a-1f311, U+1f315, U+1f319-1f320, U+1f324, U+1f327, U+1f32a, U+1f32c-1f32d, U+1f330-1f357, U+1f359-1f37e;*!*/
/*}*/
